PORT=8081

DB_HOST=localhost
DB_PORT=5434
DB_USER=candle_user
DB_PASSWORD=candle_password
DB_DATABASE=food_db

JWT_SIGNING_KEY=change-me-base64-secret
JWT_TTL_HOURS=24

REDIS_URL=redis://localhost:6379/0

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=user
MINIO_SECRET_KEY=password
MINIO_BUCKET=ratefood
